<%- include("header")-%>
    <h2 id="heading">Test layout by EJS</h2>
    <p id="temp">
        Although programming job is hard to learn, everyday practicing improves our skill.
    </p>
<%- include("footer")-%>